<footer class="footer text-white" style="background-color: #0c5460">
    <div class="container">
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, Designed by
            <a href="#" target="_blank">KJH</a>. Coded by
            <a href="#" target="_blank">YSM</a>.
        </div>
    </div>
</footer>