
<nav class="navbar navbar-toggleable-md navbar-expand-sm bg-dark navbar-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup navbarNavAltMarkup2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
        <img src="/img/logo3.png" width="30" height="30" class="d-inline-block align-top" alt="bit">
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav  ml-2 mb-0 ">
            <a class="m-1 nav-item nav-link" href="/">
                <span class="fa fa-home fa" title="home" aria-hidden="true" alt="home" style="color:#dbb65a"></span>
            </a>

            <a class="m-1 nav-item nav-link" href="/about">About</a>
            <a class="m-1 nav-item nav-link" href="/mypage">MyPage</a>
            <a class="m-1 nav-item nav-link" href="/community/test1">자유게시판</a>
            <a class="m-1 nav-item nav-link" href="/community/test2">코인동향</a>
            <a class="m-1 nav-item nav-link" href="/community/test3">코인소개</a>
            <a class="m-1 nav-item nav-link" href="/community/test4">포럼</a>
            <!--<a class="nav-item nav-link" href="/signup">Signup</a>-->
        </div>

        <form class="form-inline mx-auto">
            <input class="form-control mr-sm-2" style="width:300px" type="search" placeholder="검색어를 입력하세요." aria-label="검색">
            <button class="btn btn-outline btn-warning my-0 my-sm-0" type="submit">검색</button>
        </form>


        <%if(user) {%>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <p class="m-1 nav-item nav-link active">Welcome, <%= user[0].user_displayName %></p>
            </li>
            <li class="nav-item">
                <button type="submit" class="m-1 btn btn-warning" onclick="window.location='/logout'">Logout</button>
            </li>
        </ul>
        <%} else {%>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button type="button" class="m-1 btn btn-warning" onclick="window.location='/login'">로그인
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="m-1 btn btn-warning" onclick="window.location='/signup'">회원가입</button>
            </li>

        </ul>
        <%}%>
    </div>

</nav>




<!--<div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--<div class="navbar-nav">-->
<!--<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>-->
<!--<a class="nav-item nav-link" href="/about">About</a>-->
<!--&lt;!&ndash;<a class="nav-item nav-link" href="/login">Login</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-item nav-link" href="/signup">Signup</a>&ndash;&gt;-->
<!--<div class="float-xl-right px-2">-->
<!--<button type="button" class="btn btn-outline-primary">Login</button>-->
<!--<button type="button" class="btn btn-outline-primary">Signup</button>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->