<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head%>

  </head>
  <body class="container">

  <header>
    <%include ./partials/header2%>
  </header>

  <main>
    <div class="jumbotron">
      <h3>This is a about page</h3>



    </div>
  </main>

  <footer>
    <%include ./partials/footer%>
  </footer>

  </body>
</html>
