<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head_new.ejs%>
</head>

<body class="index-page sidebar-collapse">

<header>
    <%include partials/header_main.ejs%>
</header>

<div class="wrapper">
    <div class="image img-fluid page-header clear-filter" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/board1.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="/img/logo3.png" alt="">
                <h1 class="h1-seo">Welcome to DoBit</h1>
                <h3>Between Paradigm and Revolution</h3>
            </div>
            <h6 class="category category-absolute">Designed by KJH
                <!--<a href="http://invisionapp.com/" target="_blank">-->
                    <!--<img src="./assets/img/invision-white-slim.png" class="invision-logo" />-->
                </a>. Coded by YSM.
                <!--<a href="https://www.creative-tim.com" target="_blank">-->
                    <!--<img src="./assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />-->
                <!--</a>.-->
            </h6>
        </div>
    </div>
    <div class="main">
        <div class="section section-nucleo-icons">
            <div class="container">
                        <div class="card text-white img-fluid" style="background-color:rgba(62,151,244,0.5); background-image: url('./assets/img/board1.jpg');" >
                            <div class="header text-center">
                                <h4 class="title title-up">코인소개</h4>
                                <hr style="background-color: #ffffff;">
                                <div class="social-line">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                                                <i class="fa fa-user-o">&nbsp 53142</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                                                <i class="fa fa-columns">&nbsp 1324</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                                                <i class="fa fa-heart">&nbsp 14235</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <a href="#pablo" class="btn btn-info btn-round btn-lg">Get Started</a>
                            </div>
                        </div>
                        <div class="card text-white" style="background-color:rgba(62,151,244,0.5); background-image: url('./assets/img/board3_half.jpg');">
                            <div class="header text-center">
                                <h4 class="title title-up">자유게시판</h4>
                                <hr style="background-color: #ffffff;">
                                <div class="social-line">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                                                <i class="fa fa-user-o">&nbsp 53142</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                                                <i class="fa fa-columns">&nbsp 1324</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                                                <i class="fa fa-heart">&nbsp 14235</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <a href="#pablo" class="btn btn-info btn-round btn-lg">Get Started</a>
                            </div>
                        </div>
            </div>
            <div class="container">
                        <div class="card text-white" style="background-color:rgba(62,151,244,0.5); background-image: url('./assets/img/board4.png');">
                            <div class="header text-center">
                                <h4 class="title title-up">코인동향</h4>
                                <hr style="background-color: #ffffff;">
                                <div class="social-line">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                                                <i class="fa fa-user-o">&nbsp 53142</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                                                <i class="fa fa-columns">&nbsp 1324</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                                                <i class="fa fa-heart">&nbsp 14235</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <a href="#pablo" class="btn btn-info btn-round btn-lg">Get Started</a>
                            </div>
                        </div>
                        <div class="card" style="background-color:rgba(62,151,244,0.5); background-image: url('./assets/img/board5_p.png');">
                            <div class="header text-center">
                                <h4 class="title title-up">포럼</h4>
                                <hr style="background-color: #ffffff;">
                                <div class="social-line">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <a href="#pablo" class="btn btn-warning btn-lg btn-round">
                                                <i class="fa fa-user-o">&nbsp 53142</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-warning btn-lg btn-round">
                                                <i class="fa fa-columns">&nbsp 1324</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-warning btn-lg btn-round">
                                                <i class="fa fa-heart">&nbsp 14235</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <a href="#pablo" class="btn btn-info btn-round btn-lg">Get Started</a>
                            </div>
                        </div>
                    </div>
        </div>

        <!-- End Section Tabs -->
        <div class="section section-signup" style="background-image: url('assets/img/header_bitcoin.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
            <div class="container">
                <div class="row">
                    <div class="card card-signup" data-background-color="blue">
                        <form class="form" method="" action="">
                            <div class="header text-center">
                                <h4 class="title title-up">Sign Up</h4>
                                <div class="social-line">
                                    <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    <input type="text" class="form-control" placeholder="First Name...">
                                </div>
                                <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    <input type="text" placeholder="Last Name..." class="form-control" />
                                </div>
                                <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        </span>
                                    <input type="text" class="form-control" placeholder="Email...">
                                </div>
                                <!-- If you want to add a checkbox to this form, uncomment this code -->
                                <!-- <div class="checkbox">
                                  <input id="checkboxSignup" type="checkbox">
                                      <label for="checkboxSignup">
                                      Unchecked
                                      </label>
                                    </div> -->
                            </div>
                            <div class="footer text-center">
                                <a href="#pablo" class="btn btn-neutral btn-round btn-lg">Get Started</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sart Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h4 class="title title-up">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Nice Button</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
    <!-- Mini Modal -->
    <div class="modal fade modal-mini modal-primary" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="modal-profile">
                        <i class="now-ui-icons users_circle-08"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Always have an access to your profile</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-neutral">Back</button>
                    <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
    <footer class="footer" data-background-color="blue">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, Designed by
                <a href="http://www.invisionapp.com" target="_blank">KJH</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">YSM</a>.
            </div>
        </div>
    </footer>
</div>
</body>
<!--   Core JS Files   -->
<script src="./assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="./assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="./assets/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>

</html>