<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head_new.ejs%>
</head>

<body class="index-page sidebar-collapse">

<header>
    <%include partials/header_main.ejs%>
</header>

<div class="wrapper">
  <div class="image img-fluid page-header clear-filter" filter-color="green">
    <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/beer2.jpeg');">
    </div>
    <div class="container">
      <!--<div class="content-center brand">-->
      <!--<img class="n-logo" src="/img/logo3.png" alt="">-->
      <!--<h1 class="h1-seo">BodyGam</h1>-->
      <!--<h3>Beyond Beer</h3>-->
      <!--</div>-->
      <div class="container">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <div id="imaginary_container">
              <div class="input-group stylish-input-group">
                <input type="text" class="form-control"  placeholder="Search Beer" >
                <span class="input-group-addon">
                        <button type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <h6 class="category category-absolute">Designed by KJH
        <!--<a href="http://invisionapp.com/" target="_blank">-->
        <!--<img src="./assets/img/invision-white-slim.png" class="invision-logo" />-->
        </a>. Coded by YSM.
        <!--<a href="https://www.creative-tim.com" target="_blank">-->
        <!--<img src="./assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />-->
        <!--</a>.-->
      </h6>
    </div>
  </div>
  <div class="main">
    <section class="wrapper">
      <div class="container-fostrap">
        <!--<div>-->
        <!--<img src="https://4.bp.blogspot.com/-7OHSFmygfYQ/VtLSb1xe8kI/AAAAAAAABjI/FxaRp5xW2JQ/s320/logo.png" class="fostrap-logo"/>-->
        <!--<h1 class="heading">-->
        <!--Bootstrap Card Responsive-->
        <!--</h1>-->
        <!--</div>-->
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                    <img src='./assets/img/beer3.jpg'; />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                      </a>
                    </h4>
                    <p class="">
                      Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                    <img src='./assets/img/cream.jpg'; />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Material Design Responsive Menu
                      </a>
                    </h4>
                    <p class="">
                      Material Design is a visual programming language made by Google. Language programming...
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                    <img src="https://4.bp.blogspot.com/-TDIJ17DfCco/Vtneyc-0t4I/AAAAAAAABmk/aa4AjmCvRck/s1600/cover.jpg" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">5  Button Hover Animation Effects
                      </a>
                    </h4>
                    <p class="">
                      tutorials button hover animation, although very much a hover button is very beauti...
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                    <img src='./assets/img/budweiser.jpg'; />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                      </a>
                    </h4>
                    <p class="">
                      Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                    <img src="https://3.bp.blogspot.com/-bAsTyYC8U80/VtLZRKN6OlI/AAAAAAAABjY/kAoljiMALkQ/s400/material%2Bnavbar.jpg" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Material Design Responsive Menu
                      </a>
                    </h4>
                    <p class="">
                      Material Design is a visual programming language made by Google. Language programming...
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                    <img src="https://4.bp.blogspot.com/-TDIJ17DfCco/Vtneyc-0t4I/AAAAAAAABmk/aa4AjmCvRck/s1600/cover.jpg" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">5  Button Hover Animation Effects
                      </a>
                    </h4>
                    <p class="">
                      tutorials button hover animation, although very much a hover button is very beauti...
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <div class="section section-nucleo-icons">
      <div class="container col-md-6 ">
        <div class="card text-white img-fluid" style="background-color:rgba(38,95,107,1);" >
          <div class="header text-center">
            <h4 class="title title-up">코인소개</h4>
            <div class="social-line">
              <div class="row">
                <div class="col-md-12 text-center">
                  <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                    <i class="fa fa-user-o">&nbsp 53142</i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                    <i class="fa fa-columns">&nbsp 1324</i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                    <i class="fa fa-heart">&nbsp 14235</i>
                  </a>
                </div>
              </div>
            </div>
            <table class="table">
              <thead class="text-center">
              <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>추천수</th>
              </tr>
              </thead>
              <tbody>
              <ul>
                  <% for (var i = 0 ; i < 5; i ++) { %>
                <tr class="text-center">
                  <td> <a ><%=i+1%></a></td>
                  <td> <a href="/community/">그렇게 생각하면 끝까지 편할까</a></td>
                  <td> <a href="/community/>/show_profile">강동원</a></td>
                  <td>
                    2433
                  </td>
                  <td>
                    <i class="fa fa-thumbs-o-up fa-lg" style="font-size:1em; color:Tomato">2384</i>
                    <i class="fa fa-thumbs-o-down fa-lg" style="font-size:1em; color:#3e97f4">234</i>
                  </td>
                    <%}%>
              </ul>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="footer text-center">
            <a href="#pablo" class="btn btn-round btn-lg">게시판으로</a>
          </div>
        </div>
        <div class="card text-white" style="background-color:rgb(29,61,122);">
          <div class="header text-center">
            <h4 class="title title-up">자유게시판</h4>
            <div class="social-line">
              <div class="row">
                <div class="col-md-12 text-center">
                  <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                    <i class="fa fa-user-o">&nbsp 53142</i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                    <i class="fa fa-columns">&nbsp 1324</i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                    <i class="fa fa-heart">&nbsp 14235</i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <table class="table">
            <thead class="text-center">
            <tr>
              <th>#</th>
              <th>제목</th>
              <th>작성자</th>
              <th>조회수</th>
              <th>추천수</th>
            </tr>
            </thead>
            <tbody>
            <ul>
                <% for (var i = 0 ; i < 5; i ++) { %>
              <tr class="text-center">
                <td> <a ><%=i+1%></a></td>
                <td> <a href="/community/">그렇게 생각하면 끝까지 편할까</a></td>
                <td> <a href="/community/>/show_profile">강동원</a></td>
                <td>
                  2433
                </td>
                <td>
                  <i class="fa fa-thumbs-o-up fa-lg" style="font-size:1em; color:Tomato">2384</i>
                  <i class="fa fa-thumbs-o-down fa-lg" style="font-size:1em; color:#3e97f4">234</i>
                </td>
                  <%}%>
            </ul>
            </tr>
            </tbody>
          </table>
          <div class="footer text-center">
            <a href="#pablo" class="btn btn-round btn-lg">게시판으로</a>
          </div>
        </div>
      </div>
      <div class="container col-md-6">
        <div class="card text-white" style="background-color:rgba(62,151,244,0.5); background-image: url('./assets/img/board4.png');">
          <div class="header text-center">
            <h4 class="title title-up">코인동향</h4>
            <hr style="background-color: #ffffff;">
            <div class="social-line">
              <div class="row">
                <div class="col-md-12 text-center">
                  <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                    <i class="fa fa-user-o">&nbsp 53142</i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                    <i class="fa fa-columns">&nbsp 1324</i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-lg btn-round">
                    <i class="fa fa-heart">&nbsp 14235</i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer text-center">
            <a href="#pablo" class="btn btn-info btn-round btn-lg">Get Started</a>
          </div>
        </div>
        <div class="card" style="background-color:rgba(62,151,244,0.5); background-image: url('./assets/img/board5_p.png');">
          <div class="header text-center">
            <h4 class="title title-up">포럼</h4>
            <hr style="background-color: #ffffff;">
            <div class="social-line">
              <div class="row">
                <div class="col-md-12 text-center">
                  <a href="#pablo" class="btn btn-warning btn-lg btn-round">
                    <i class="fa fa-user-o">&nbsp 53142</i>
                  </a>
                  <a href="#pablo" class="btn btn-warning btn-lg btn-round">
                    <i class="fa fa-columns">&nbsp 1324</i>
                  </a>
                  <a href="#pablo" class="btn btn-warning btn-lg btn-round">
                    <i class="fa fa-heart">&nbsp 14235</i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer text-center">
            <a href="#pablo" class="btn btn-info btn-round btn-lg">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <!-- End Section Tabs -->
    <div class="section section-signup" style="background-image: url('assets/img/header_bitcoin.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
      <div class="container">
        <div class="row">
          <div class="card card-signup" data-background-color="blue">
            <form class="form" method="" action="">
              <div class="header text-center">
                <h4 class="title title-up">Sign Up</h4>
                <div class="social-line">
                  <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
                <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                  <input type="text" placeholder="Last Name..." class="form-control" />
                </div>
                <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        </span>
                  <input type="text" class="form-control" placeholder="Email...">
                </div>
                <!-- If you want to add a checkbox to this form, uncomment this code -->
                <!-- <div class="checkbox">
                  <input id="checkboxSignup" type="checkbox">
                      <label for="checkboxSignup">
                      Unchecked
                      </label>
                    </div> -->
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-neutral btn-round btn-lg">Get Started</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sart Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </button>
          <h4 class="title title-up">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default">Nice Button</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
  <!-- Mini Modal -->
  <div class="modal fade modal-mini modal-primary" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <div class="modal-profile">
            <i class="now-ui-icons users_circle-08"></i>
          </div>
        </div>
        <div class="modal-body">
          <p>Always have an access to your profile</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link btn-neutral">Back</button>
          <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
  <footer>
      <%include ./partials/footer_new.ejs%>
  </footer>
</div>
</body>

</html>