<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs%>
  </head>
  <body class="container">
  <header>
    <%include ./partials/header.ejs%>
  </header>

  <main>
    <div class="jumbotron">
      <h1>This is a main body</h1>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3 class="display-3">Community Test 1</h3>
        <p class="lead">This is sample community - 1</p> <a href = "/community/test1"> Go Test1</a>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Community Test 2</h1>
        <p class="lead">This is sample community - 2</p> <a href = "/community/test2"> Go Test2</a>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Community Test 3</h1>
        <p class="lead">This is sample community - 3</p> <a href = "/community/test3"> Go Test3</a>
      </div>
    </div>
  </main>


  <footer>
    <%include ./partials/footer.ejs%>
  </footer>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
