<!DOCTYPE html>
<html>
<head>
</head>
<body class="container">
<header>

</header>
<main>
    <button onclick="window.location='/login/naver'">Login with Naver</button>
    <button onclick="window.location='/login/kakao'">Login with Kakao</button>
    <h1><%=user%></h1>

</main>

<footer>
    <%include ./partials/footer%>
</footer>

</body>
</html>
